ftp_demo/src/main/mule/ftp_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="771c077f-659d-4eea-b087-42bd53c80f14" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="ftp_demoFlow" doc:id="66ccaebc-d84a-450b-bcdb-b294827689db" >
		<http:listener doc:name="Listener" doc:id="4035d581-c2d5-42bb-b08f-b53c9592f641" config-ref="HTTP_Listener_config" path="write-file" allowedMethods="GET"/>
		<file:write doc:name="Write" doc:id="dacb611e-2333-4bad-8914-d3faea3c922d" path="Documents/hi.txt">
			<file:content ><![CDATA[#["This is the text in hi.txt"]]]></file:content>
		</file:write>
		<file:read doc:name="Read" doc:id="234aa3a8-2b96-43e8-9b85-1198db338f0f" path="Documents/hi.txt"/>
	</flow>
</mule>
