.tooling/error-handling5c5acd7a-790d-4475-92fa-f06e9ce67696/globalhandlerexample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="dd5a2f60-1a4d-4722-93fc-75dccc03b458" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="error-handlingFlow-" doc:id="a18a525f-d22c-4bdb-81b1-e70cb4f88ebe" >
		<http:listener doc:name="Listener : /validate" doc:id="e3006c9e-7ee4-4fdb-a413-fc69a88e2490" config-ref="HTTP_Listener_config" path="/validate1" />
		<set-payload value='#["Jayesh"]' doc:name="Set Payload" doc:id="a4c9b999-7cbb-4133-a819-3bd80a3918d8" />
		<flow-ref doc:name="Flow Reference" doc:id="4208a6de-d688-4e3d-9241-06ab33e61a7e" name="privateflow1" />
		<set-payload value='#["Success - main flow"]' doc:name='"Success - main flow"' doc:id="8b8f8794-1185-499f-a923-780956909032" />
		<logger level="INFO" doc:name="Logger" doc:id="6e43098e-b74f-4d61-8777-603e23f8318e" message="#[payload]" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="750115cb-ce8a-4f97-ac55-e206da2568d4" >
				<set-payload value='#["Error main flow"]' doc:name='"Error main flow"' doc:id="95ab0d33-9d76-4708-9457-f26446d0ed72" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
