question_two_new/src/main/mule/question_two_new.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="4aea262d-e6be-4058-a1c1-9d48f5915e5a" >
		<file:connection workingDir="C:\Users\JAYPALIW\Documents\temp_details - Copy\json" />
	</file:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="52da1a9b-5a48-456e-8bec-7e6e5bbe2e0d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="question_two_newFlow1" doc:id="f8bf9495-5e0d-4b83-89f3-5add5ae49426" >
		<file:listener doc:name="On New or Updated File" doc:id="61864633-0e09-43c5-8152-ccc3bad73acb" config-ref="File_Config" directory="C:\Users\JAYPALIW\Documents\temp_details - Copy\json">
			<scheduling-strategy >
				<fixed-frequency frequency="30" timeUnit="SECONDS" />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="445bcee5-04d1-436a-b06f-68ed6a8c07f2" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="4f595e5d-379d-4c4c-b36c-fef942ef3177" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
array: {( payload )}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[attributes.fileName]" doc:name="Set Payload" doc:id="4e87b521-da1b-498a-92be-9c3560a95590" />
		<file:write doc:name="Write" doc:id="29cc158e-edf8-4116-aabb-efc6dfbe623b" path="#[%dw 2.0&#10;var s = attributes.fileName splitBy(&quot;.&quot;)&#10;var val=s[0]&#10;output plain/text  &#10;---&#10;'C:\Users\JAYPALIW\Documents\temp_details - Copy\xml\${val}']" mode="CREATE_NEW" />
	</flow>
	<flow name="question_two_newFlow" doc:id="08c757d0-0dac-4af2-b6c9-a3b9cae9a1ef" >
		<http:listener doc:name="Listener" doc:id="500d61ac-93c2-4669-8a38-b7e3c8ee33ec" path="/read" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="432b3168-9f88-45da-9c66-05b262d0b7b4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:read doc:name="Read" doc:id="0c08a2b4-31fe-4c62-8367-92546f776b51" path="C:\Users\JAYPALIW\Documents\temp_details - Copy\xml\output.xml"/>
	</flow>
</mule>
