.tooling/xml_to_json3f66e0b4-1260-4799-a99a-ceb9bc007275/xml_to_json.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e37a038b-ee18-4058-b2c6-ee9d8b6ba922" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="xml_to_jsonFlow" doc:id="98c44a30-d2d1-46dd-b8d1-c52c40f244fe" >
		<http:listener doc:name="Listener" doc:id="a0907f02-ae62-445a-9c90-b2b8e719ab0f" />
		<ee:transform doc:name="Transform Message" doc:id="dee63531-0bef-4d2e-839f-365b7412dd49" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="2f8902de-9570-4c04-9272-002ff2291865" />
		<logger level="INFO" doc:name="Logger" doc:id="bdb3f19a-8571-4c40-9900-0b1f5b0778f9" />
	</flow>
	<flow name="xml_to_jsonFlow1" doc:id="b9bf254c-f25a-434f-96a6-8967a2712855" >
		<http:listener doc:name="POST /order" doc:id="421194fa-3538-41ad-af47-e79c78e2cb52" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="f23b458f-5a05-4a1a-b2e2-6f141e9520b8" />
	</flow>
</mule>
