sample/src/main/mule/bookmyhotelapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="bookmyhotelapi-config" api="bookmyhotelapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="bookmyhotelapi-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="bookmyhotelapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="bookmyhotelapi-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="bookmyhotelapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\bookings\(bookingId):bookmyhotelapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\bookings\(bookingId):bookmyhotelapi-config" />
    </flow>
    <flow name="delete:\hotels\(hotelId):bookmyhotelapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="hotelId">attributes.uriParams.'hotelId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\hotels\(hotelId):bookmyhotelapi-config" />
    </flow>
    <flow name="delete:\registrations\(registrationId):bookmyhotelapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="registrationId">attributes.uriParams.'registrationId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\registrations\(registrationId):bookmyhotelapi-config" />
    </flow>
    <flow name="patch:\bookings\(bookingId):application\json:bookmyhotelapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="patch:\bookings\(bookingId):application\json:bookmyhotelapi-config" />
    </flow>
    <flow name="patch:\hotels\(hotelId):application\json:bookmyhotelapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="hotelId">attributes.uriParams.'hotelId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="patch:\hotels\(hotelId):application\json:bookmyhotelapi-config" />
    </flow>
    <flow name="patch:\registrations\(registrationId):application\json:bookmyhotelapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="registrationId">attributes.uriParams.'registrationId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="patch:\registrations\(registrationId):application\json:bookmyhotelapi-config" />
    </flow>
    <flow name="get:\hotels\(hotelId)\bookings:bookmyhotelapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="hotelId">attributes.uriParams.'hotelId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\hotels\(hotelId)\bookings:bookmyhotelapi-config" />
    </flow>
    <flow name="get:\bookings:bookmyhotelapi-config">
        <logger level="INFO" message="get:\bookings:bookmyhotelapi-config" />
    </flow>
    <flow name="get:\hotels:bookmyhotelapi-config">
        <logger level="INFO" message="get:\hotels:bookmyhotelapi-config" />
    </flow>
    <flow name="get:\registrations:bookmyhotelapi-config">
        <logger level="INFO" message="get:\registrations:bookmyhotelapi-config" />
    </flow>
    <flow name="get:\bookings\(bookingId):bookmyhotelapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\bookings\(bookingId):bookmyhotelapi-config" />
    </flow>
    <flow name="get:\hotels\(hotelId):bookmyhotelapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="hotelId">attributes.uriParams.'hotelId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\hotels\(hotelId):bookmyhotelapi-config" />
    </flow>
    <flow name="get:\registrations\(registrationId):bookmyhotelapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="registrationId">attributes.uriParams.'registrationId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\registrations\(registrationId):bookmyhotelapi-config" />
    </flow>
    <flow name="post:\bookings:application\json:bookmyhotelapi-config">
        <logger level="INFO" message="post:\bookings:application\json:bookmyhotelapi-config" />
    </flow>
    <flow name="post:\hotels:application\json:bookmyhotelapi-config">
        <logger level="INFO" message="post:\hotels:application\json:bookmyhotelapi-config" />
    </flow>
    <flow name="post:\registrations:application\json:bookmyhotelapi-config">
        <logger level="INFO" message="post:\registrations:application\json:bookmyhotelapi-config" />
    </flow>
</mule>
