on_file_update/src/main/mule/on_file_update.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="on_file_updateFlow" doc:id="da482c57-808a-405d-aa9a-e2d2d2dcb8fb" >
		<file:listener doc:name="On New or Updated File" doc:id="d9aff59a-bbe4-4080-99f3-f713eb547938" directory="C:\Users\JAYPALIW\Documents\temp_details" timeBetweenSizeCheckUnit="DAYS" renameTo="file1.txt">
			<scheduling-strategy >
				<cron expression="p"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="6d073faa-9242-4f90-bcca-a43019f80573" message="#[payload]"/>
	</flow>
</mule>
