.tooling/accessible_to_child502945cb-f0af-4d31-842d-af31a5097e59/accessible_to_child.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="818ebaaf-b86c-4a2f-bd44-2618fae913ad" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="accessible_to_childFlow" doc:id="976a13cd-5538-4c4a-9207-f65fa3bd5ce3" >
		<http:listener doc:name="Listener" doc:id="1ab04ee2-b6bf-4b9d-9e7f-a0c5ed4c223f" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="f7b7362e-1111-43a3-aa34-fd65dee2e0ca" />
		<set-variable value="" doc:name="Set Variable" doc:id="a46e72fd-86e5-4d37-8813-93b5c83d376f" />
		<http:request method="GET" doc:name="Request" doc:id="91da6b7c-fff2-40f0-abde-221b45ce30aa" />
	</flow>
	<flow name="accessible_to_childFlow1" doc:id="72909ccd-887d-4c8a-b2aa-e3fbb79e7f70" >
		<http:listener doc:name="Listener" doc:id="6a2e7eb8-ccf2-47f5-be58-7349a4b67e15" />
		<logger level="INFO" doc:name="Logger" doc:id="229c8269-44f7-4daf-b267-73753040797e" />
	</flow>
</mule>
