accessible_to_child/src/main/mule/accessible_to_child.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="818ebaaf-b86c-4a2f-bd44-2618fae913ad" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="2156a55b-83be-459f-82aa-4abab89297c7" basePath="/child">
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="accessible_to_childFlow" doc:id="976a13cd-5538-4c4a-9207-f65fa3bd5ce3" >
		<http:listener doc:name="HTTP : GET /order" doc:id="1ab04ee2-b6bf-4b9d-9e7f-a0c5ed4c223f" config-ref="HTTP_Listener_config" path="/order"/>
		<set-payload value='#["Order 01"]' doc:name='"Order 01"' doc:id="f7b7362e-1111-43a3-aa34-fd65dee2e0ca" />
		<set-variable value="1" doc:name='"quantity to 1" ' doc:id="a46e72fd-86e5-4d37-8813-93b5c83d376f" variableName='"quantity'/>
		<http:request method="GET" doc:name="Request" doc:id="91da6b7c-fff2-40f0-abde-221b45ce30aa" config-ref="HTTP_Request_configuration" path="/"/>
		<logger level="INFO" doc:name="Logger" doc:id="5eb4df4e-f755-4908-a203-95f3786e605f" />
	</flow>
	<flow name="accessible_to_childFlow1" doc:id="72909ccd-887d-4c8a-b2aa-e3fbb79e7f70" >
		<http:listener doc:name="Listener" doc:id="6a2e7eb8-ccf2-47f5-be58-7349a4b67e15" config-ref="HTTP_Listener_config" path="/child"/>
		<logger level="INFO" doc:name="Logger" doc:id="229c8269-44f7-4daf-b267-73753040797e" />
	</flow>
	<flow name="accessible_to_childFlow_flowreference" doc:id="1a8ac237-83ba-4dd3-addd-b835f288b687" >
		<http:listener doc:name="HTTP : GET /orderflow" doc:id="cee0a870-2df8-4d8f-b5a1-508f05de1736" config-ref="HTTP_Listener_config" path="/orderflow" />
		<set-payload value='#["Order 01"]' doc:name='"Order 01"' doc:id="d3d5bc75-7f08-4919-9947-afd1d73f8a69" />
		<set-variable value="1" doc:name='"quantity to 1" ' doc:id="33369cef-b45e-4988-bbcb-b98909478a08" variableName='"quantity' />
		<flow-ref doc:name="Flow Reference" doc:id="d92314b5-8060-4477-b6df-02dbf4e8f7c1" name="childFlow" />
		<logger level="INFO" doc:name="Logger" doc:id="e70cdfa3-0895-464d-bd2c-209f324da7db" />
	</flow>
	<flow name="childFlow" doc:id="3291aa4d-9c35-4dc0-95e1-24f3aabc3422">
		<logger level="INFO" doc:name="Logger" doc:id="68a0b7ae-82e8-4de8-8874-ee6633907e0c" />
	</flow>
</mule>
